{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="{% static 'img/book.png' %}" alt="sample3" width="256px"/>
            </div>
            <div class="col-md-8" style="font-family:Georgia;">
                <h4>{{ resource.name }}</h4>
                <div>
                    {% for i in resource.stars %}
                        <span><i class="fa fa-star"></i></span>
                    {% endfor %}
                    {% if resource.half_star %}
                        <span><i class="fa fa-star-half-alt"></i></span>
                    {% endif %}
                    {% for i in resource.empty_stars %}
                        <span><i class="far fa-star"></i></span>
                    {% endfor %}
                </div>
                <div style="text-align:justify;">{{ resource.description }}</div>
                <div><b>Authors:</b> {% for auth in resource.authors %} {{ auth }} {% endfor %}</div>
                <div><b>Affiliation:</b> {{ resource.affiliation }}</div>
                <div><b>Link:</b><a href="{{ resource.url }}"> {{ resource.url }} </a></div>
                <div><b>Tags:</b> {% for subj in resource.subjects %} <span class="badge badge-info">{{ subj }}</span> {% endfor %}</div>


            </div>
        </div>
        <br/>
        {% include 'review.html' %}

    </div>
{% endblock %}