{% load static %}
<!-- load files -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<script src="{% static 'js/interests.js' %}"></script>
<script src="{% static 'js/review.js' %}"></script>

<link rel="stylesheet" href="/static/css/rating.css">
<div class="row">
    <div class="col-sm-7">
        <hr/>
        <div class="review-block">
            <div class="row">
                {% for review in reviews.all %}
                    <div class="col-sm-4">
                        {% if review.reviewer.profile.is_professor %}
                            <img src="{% static 'img/professor.png' %}" class="img-rounded" style="width:110px;">
                        {% else %}
                            <img src="{% static 'img/student.png' %}" class="img-rounded" style="width:110px;">
                        {% endif %}

                        <div class="review-block-name"><a href="#">
                            {% if review.is_anonymous %}
                                Anonymous
                            {% else %}
                                {{ review.reviewer.username }}
                            {% endif %}
                        </a></div>
                        <div class="review-block-date">{{ review.insert_date }}</div>
                    </div>
                    <div class="col-sm-8">
                        <div class="review-block-rate">
                            {% for i in "x"|rjust:review.rating %}
                                <span><i class="fa fa-star" style="color:#ffca08;"></i></span>
                            {% endfor %}
                        </div>
                        <div class="review-block-description">{{ review.comment }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% include 'reviewModal.html' %}


