{% load static %}

<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


<form class="card card-lg">
    <div class="card-body row no-gutters align-items-center">
        <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
        </div>
        <!--end of col-->
        <div class="col">
            <input class="form-control form-control-lg form-control-borderless" type="search"
                   placeholder="Search topics or keywords">
        </div>
        <!--end of col-->
        <div class="col-auto">
            <button class="btn btn-lg btn-success" type="submit">Find Resources</button>
        </div>
        <!--end of col-->
    </div>
</form>

<!-- Search Results -->
<br/>
<br/>

<div class="row">
    <div class="col-lg-6">

        <div class="card border-success mx-1">
            <div class="card-header">Programming BOOK</div>
            <div class="card-body text-success">
                <div class="row">
                    <img class="col-md-3" src="{% static 'img/book.png' %}" style="height:50%">
                    <p class="card-text col-md-9">This book covers all areas on LSTM and lorem ipsum lorem. Some more
                        descriptive
                        words...</p>
                </div>
                <br/>
                <div>
                    <div><b>Authors:</b> Moore J., Blabla R., Somename H.</div>
                    <div><b>Teacher's rank:</b>
                        <span><i class="fa fa-star" aria-hidden="true"></i></span>
                        <span><i class="fa fa-star" aria-hidden="true"></i></span>
                        <span><i class="fa fa-star" aria-hidden="true"></i></span>
                        <span><i class="fa fa-star-half-empty" aria-hidden="true"></i></span>
                        <span><i class="fa fa-star-empty" aria-hidden="true"></i></span>
                    </div>
                    <div><a href="www.ebooks.co.uk/lstm?bookname=BookOne">eBook link</a></div>
                    <div><b>Reviews:</b> <i>Amazing book, helped me lorem ipsum lorem. </i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">

        <div class="card border-success mx-1">
            <div class="card-header">Programming Article</div>
            <div class="card-body text-success">
                <div class="row">
                    <img class="col-md-3" src="{% static 'img/book.png' %}" style="height:50%">
                    <p class="card-text col-md-9">This book covers all areas on LSTM and lorem ipsum lorem. Some more
                        descriptive
                        words...</p>
                </div>
                <br/>
                <div>
                    <div><b>Authors:</b> Moore J., Blabla R., Somename H.</div>
                    <div><b>Teacher's rank:</b>
                        <span><i class="fa fa-star" aria-hidden="true"></i></span>
                        <span><i class="fa fa-star" aria-hidden="true"></i></span>
                        <span><i class="fa fa-star" aria-hidden="true"></i></span>
                        <span><i class="fa fa-star-half-empty" aria-hidden="true"></i></span>
                        <span><i class="fa fa-star-empty" aria-hidden="true"></i></span>
                    </div>
                    <div><a href="www.ebooks.co.uk/lstm?bookname=BookOne">eBook link</a></div>
                    <div><b>Reviews:</b> <i>Amazing book, helped me lorem ipsum lorem. </i></div>
                </div>
            </div>
        </div>
    </div>
</div>

